{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_meta_tags %}
      {% image page.image fill-1920x1080 as parallax_image %}
      <meta property="og:url" content="{{page.full_url}}" />
      <meta property="og:type" content="article" />
      <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
      <meta property="og:description" content="{{page.search_description}}" />
      <meta property="og:image" content="{{parallax_image.url}}" />
      <meta property="og:locale" content="cs_CZ" />
      <meta property="og:site_name" content="{{page.get_site.site_name}}" />
      <meta property="fb:app_id" content="{{settings.base.SocialMediaSettings.facebook_app_id}}" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@{{settings.base.SocialMediaSettings.twitter}}" />
      <meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
      <meta name="twitter:description" content="{{page.search_description}}" />
      <meta name="twitter:image" content="{{parallax_image.url}}" />
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BlogPosting",
          "url": "{{page.full_url}}",
          "headline": "{{page.title}}",
          "image": "{{parallax_image.url}}",
          "datePublished": "{{page.date_published|date:"Y-m-d"}}",
          "dateModified": "{{page.last_published_at|date:"Y-m-d"}}",
          "inLanguage": "cs_CZ",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{page.full_url}}"
          },
          "author": {
            "@type": "Organization",
            "name": "{{page.get_site.site_name}}"
          },
          "publisher": {
            "@type": "Organization",
            "name": "{{page.get_site.site_name}}",
            "logo": {
              "@type": "ImageObject",
              "url": "https://google.com/logo.jpg"
            }
          },
          "description": "{{page.search_description}}"
        }
      </script>
{% endblock %}

{% block extra_css %}
      <!-- owl carousel -->
      <link rel="stylesheet" href="{% static 'css/owl.min.css' %}" />
{% endblock %}

{% block additional_datalayer %}
      <script>
        dataLayer.push({
          'title':'{{page.title}}',
          'contentType':'{{page.get_verbose_name}}',
          'category':'{{page.category|default:""}}',
          'tags':'{{page.tags.all|join:", "}}',
          'datePublished': '{{page.date_published|date:"Y-m-d"}}',
          'relatedPagesCount':'{{page.related_pages.count }}'
        })
      </script>
{% endblock %}

{% block content %}
<!-- navigation-->
{% include "includes/navigation.html" with nav_kind="nav-white nav-border-bottom" %}
<!--end of navigation-->
<section class="wow fadeIn blog-single-full-width-header fix-background parallax-fix">
    {% image page.image fill-1920x1080 as parallax_image %}
    <img class="parallax-background-img" src="{{parallax_image.url}}" alt="{{parallax_image.alt}}" />
    <div class="opacity-light bg-black"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-8 position-relative full-width-headline text-center center-col padding-eight-top">
                <h2 class="white-text"><span>{{page.title}}</span></h2>
                <div class="blog-date posted-by">{{page.date_published}}
                  {% if  page.domicile %}
                    | <span  class="white-text">{{page.domicile}}</span>
                  {% endif %}
                  </div>
            </div>
        </div>
    </div>
</section>

<section class="wow fadeIn blog-single-full-width-text blog-details-text padding-five">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-10 center-col text-left">
              <span class="text-large-full-width">{{ page.intro|richtext }}</span>
            </div>
        </div>
    </div>
</section>

      {{ self.body }}

{% if page.tags.all %}
<section class="wow fadeIn blog-details-text no-padding padding-six-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-10 center-col text-center ">
      <div class="blog-date  margin-six no-margin-bottom border-top">
        <h5 class="widget-title margin-two no-margin-top">Tags</h5>
        {% for tag in page.tags.all %}
        <a href="{% slugurl 'tags' %}?tag={{ tag.slug }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="wow fadeIn blog-details-text no-padding-top padding-six-bottom">
<div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-10 center-col text-center">
                <div class="text-center margin-ten no-margin-bottom">
                    <a class="btn social-icon social-icon-large button" target="_blank"  rel="noopener" href="https://www.facebook.com/dialog/share?app_id={{settings.base.SocialMediaSettings.facebook_app_id}}&display=popup&href={{page.full_url|urlencode}}&redirect_uri={{page.full_url|urlencode}}"><i class="fa fa-facebook"></i></a>
                    <a class="btn social-icon social-icon-large button" target="_blank"  rel="noopener" href="https://twitter.com/intent/tweet?text={{page.title|urlencode}}&url={{page.full_url|urlencode}}&hashtags={{page.get_site.site_name|urlencode}}"><i class="fa fa-twitter"></i></a>
                    <a class="btn social-icon social-icon-large button" target="_blank"  rel="noopener" href="https://plus.google.com/share?url={{page.full_url|urlencode}}"><i class="fa fa-google-plus"></i></a>
                    <a class="btn social-icon social-icon-large button" target="_blank"  rel="noopener" href="mailto:?subject={{page.get_site.site_name}} - {{page.title}}&amp;body={{page.full_url}}"><i class="fa fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>


{% if page.related_pages_columns %}
<section class="wow fadeIn border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-10 center-col text-center margin-eight no-margin-top">
                <h3 class="blog-single-full-width-h3">Related Blogs</h3>
            </div>
        </div>
        <div class="row blog-grid-listing">
          {% for item in page.related_pages.all %}
            {% with item.related_page.specific as related_page %}
              <div class="col-md-{{page.related_pages_columns}} col-sm-{{page.related_pages_columns}} col-xs-6 blog-listing no-margin-bottom xs-margin-bottom-ten wow fadeInUp" data-wow-duration="300ms">
                  <div class="blog-image"><a href="{% pageurl related_page %}">
                    {% image related_page.image fill-599x449 as thumbnail %}
                    {% image related_page.image fill-30x22 as thumbnail_mini %}
                    <img class="lazyload" src="{{thumbnail_mini.url}}" data-src="{{ thumbnail.url }}" alt="{{ thumbnail.alt }}" width="599" height="449"/>
                  </a></div>
                  <div class="blog-details no-padding-left-right no-padding-bottom">
                      <div class="blog-date">Posted at {{ related_page.date_published }}</div>
                      <div class="blog-title"><a href="{% pageurl related_page %}">{{ related_page.title }}</a></div>
                      <div class="blog-short-description">{{ related_page.intro|truncatechars_html:250|richtext }}</div>
                      <div class="separator-line bg-black no-margin-lr"></div>
                      <!-- <div><a href="#" class="blog-like"><i class="fa fa-heart-o"></i>Likes</a><a href="#" class="blog-share"><i class="fa fa-share-alt"></i>Share</a><a href="#" class="comment"><i class="fa fa-comment-o"></i>3 comment(s)</a></div> -->
                  </div>
              </div>
            {% endwith %}
          {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<div class="next-previous-project-style2">
    <a class="text-uppercase border-right {% if not page.get_prev_sibling.live %} disabled {% endif%} previous-project" href={{page.get_prev_sibling.url}}><i class="fa fa-angle-left"></i><span>Previous Post</span></a><a class="border-right text-uppercase back-project" href="{{ page.get_parent.url }}"><span>Back</span><i class="fa fa-th-large"></i></a><a class="text-uppercase {% if not page.get_next_sibling.live %} disabled {% endif%} next-project" href={{page.get_next_sibling.url}}><span>Next Post</span><i class="fa fa-angle-right"></i></a>
</div>

{% endblock %}

{% block extra_js %}
<!-- owl slider  -->
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script>
$("#blog-slider").owlCarousel({
    navigation: false,
    items: 3,
    itemsDesktop: [1200, 3],
    itemsTablet: [800, 2],
    itemsMobile: [700, 1]
});
</script>
{% endblock %}
