{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<section class="wow fadeIn blog-single-full-width-header fix-background parallax-fix">
    {% if page.image %}
    {% image page.image fill-1920x1080 as parallax_image %}
    <img class="parallax-background-img" src="{{ parallax_image.url }}"
         alt="{{ parallax_image.alt }}"  />
    {% else %}
    <img class="parallax-background-img" src="http://placehold.it/1920x1080" alt="" />
    {% endif %}
    <div class="opacity-medium bg-black"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-8 position-relative full-width-headline text-center center-col">
                <!-- post title  -->
                <h2 class="white-text"><span>{{ page.title }}</span></h2>
                <!-- end post title  -->
                <!-- post date and categories  -->
                <div class="blog-date posted-by">{{ page.date_published }}
                  {% if  page.tags.all %}
                    |
                    {% for tag in page.tags.all %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="white-text">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  {% endif %}
                  </div>
                <!-- end post date and categories  -->
            </div>

        </div>
    </div>
</section>

<section class="wow fadeIn blog-single-full-width-text blog-details-text padding-five">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-10 center-col text-center">
              <!-- post details highlight text -->
              <span class="text-large-full-width">{{ page.intro|richtext }}</span>
              <!-- end post details highlight text -->
            </div>
        </div>
    </div>
</section>




      {{ self.body }}
      <section id="blog-slider-main" class="blog-slider wow fadeIn no-padding clearfix">
          <!-- post images slider -->
          <div id="blog-slider" class="owl-carousel owl-theme dark-pagination">
              <div class="item"><img src="http://placehold.it/1200x800" alt=""/></div>
              <div class="item"><img src="http://placehold.it/1200x800" alt=""/></div>
              <div class="item"><img src="http://placehold.it/1200x800" alt=""/></div>
              <div class="item"><img src="http://placehold.it/1200x800" alt=""/></div>
              <div class="item"><img src="http://placehold.it/1200x800" alt=""/></div>
              <div class="item"><img src="http://placehold.it/1200x800" alt=""/></div>
          </div>
          <!-- end post images slider -->
      </section>
<section class="wow fadeIn blog-details-text no-padding-top">
<div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-10 center-col text-center">
                <div class="text-center margin-ten no-margin-bottom">
                    <!-- social icon -->
                    <a class="btn social-icon social-icon-large button" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="btn social-icon social-icon-large button" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="btn social-icon social-icon-large button" href="#"><i class="fa fa-google-plus"></i></a>
                    <a class="btn social-icon social-icon-large button" href="#"><i class="fa fa-envelope"></i></a>
                    <!-- end social icon -->
                </div>
            </div>
        </div>
    </div>
</section>

{% if page.related_pages_columns %}
<section class="wow fadeIn border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-10 center-col text-center margin-eight no-margin-top">
                <h3 class="blog-single-full-width-h3">Related Blogs</h3>
            </div>
        </div>
        <div class="row blog-grid-listing">
          {% for item in page.related_pages.all %}
            {% with item.related_page.specific as related_page %}
              <div class="col-md-{{page.related_pages_columns}} col-sm-{{page.related_pages_columns}} col-xs-6 blog-listing no-margin-bottom xs-margin-bottom-ten wow fadeInUp" data-wow-duration="300ms">
                  <div class="blog-image"><a href="{% pageurl related_page %}">
                    {% if related_page.image %}
                    {% image related_page.image fill-599x449 as thumbnail %}
                    <img src="{{ thumbnail.url }}"
                         alt="{{ thumbnail.alt }}"  />
                    {% else %}
                    <img src="http://placehold.it/599x449" alt=""/>
                    {% endif %}
                  </a></div>
                  <div class="blog-details no-padding-left-right no-padding-bottom">
                      <div class="blog-date">Posted at {{ related_page.date_published }}</div>
                      <div class="blog-title"><a href="{% pageurl related_page %}">{{ related_page.title }}</a></div>
                      <div class="blog-short-description">{{ related_page.intro }}</div>
                      <div class="separator-line bg-black no-margin-lr"></div>
                      <!-- <div><a href="#" class="blog-like"><i class="fa fa-heart-o"></i>Likes</a><a href="#" class="blog-share"><i class="fa fa-share-alt"></i>Share</a><a href="#" class="comment"><i class="fa fa-comment-o"></i>3 comment(s)</a></div> -->
                  </div>
              </div>
            {% endwith %}
          {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<div class="next-previous-project-style2">
    <!-- next-previous post -->
    <a class="text-uppercase border-right {% if not page.get_prev_sibling.live %} disabled {% endif%} previous-project" href={{page.get_prev_sibling.url}}><i class="fa fa-angle-left"></i><span>Previous Post</span></a><a class="border-right text-uppercase back-project" href="{{ page.get_parent.url }}"><span>Back</span><i class="fa fa-th-large"></i></a><a class="text-uppercase {% if not page.get_next_sibling.live %} disabled {% endif%} next-project" href={{page.get_next_sibling.url}}><span>Next Post</span><i class="fa fa-angle-right"></i></a>
    <!-- end next-previous post -->
</div>
<!-- end content section -->

{% endblock %}
