{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}


{% block extra_meta_tags %}
<meta property="og:url" content="{{page.full_url}}" />
<meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
<meta property="og:description" content="{{page.search_description}}" />
<meta property="og:image" content="{% with latest_page=blogpages|first %}{% image latest_page.specific.image fill-1200x840 as tmp_image %}{{tmp_image.url}}{%endwith%}"/>
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="840" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="cs_CZ" />
<meta property="og:site_name" content="{{page.get_site.site_name}}" />
<meta property="fb:app_id" content="{{settings.base.SocialMediaSettings.facebook_app_id}}" />
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "@id": "{{page.full_url}}",
    "name":"{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}",
    "inLanguage": "cs_CZ",
    "mainEntityOfPage": {
      "@type": "WebSite",
      "@id": "{{page.get_site.root_url}}",
      "name": "{{page.get_site.site_name}}",
    }
  }
  </script>
{% endblock %}

{% block additional_datalayer %}
      <script>
        dataLayer.push({
          'title':'{{page.title}}',
          'contentType':'{{page.get_verbose_name}}'
        })
      </script>
{% endblock %}

{% block content %}

{% include "includes/navigation.html" with nav_kind="bg-white nav-border-bottom" %}

    <section class="content-top-margin page-title bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
            <h1 class="black-text">{{page.title}}</h1>
            {%if page.sub_title %}<span class="xs-display-none">{{page.sub_title}}</span>{% endif %}
            <div class="separator-line margin-three bg-black no-margin-lr sm-margin-top-three sm-margin-bottom-three no-margin-bottom xs-display-none"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="wow fadeIn">
      <div class="container">
        <div class="row blog-3col">
          {% for blogpage in blogpages %} {% with blogpage=blogpage.specific %}
          <div class="col-md-4 col-sm-6 col-xs-6 blog-listing wow fadeInUp" data-wow-duration="300ms">
            <div class="blog-image"><a href="{% pageurl blogpage %}">
                            {% image blogpage.image fill-599x449 as thumbnail %}
                            {% image blogpage.image fill-30x22 as thumbnail_mini %}
                            <img class="lazyload" src="{{thumbnail_mini.url}}" data-src="{{ thumbnail.url }}" alt="{{ thumbnail.alt }}" width="599" height="449"/>
                          </a></div>
            <div class="blog-details">
              <div class="blog-date">{{ blogpage.date_published }}</div>
              <div class="blog-title"><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></div>
              <div class="blog-short-description">{% if blogpage.title|length > 31 %}{{ blogpage.intro|truncatechars_html:200|richtext }}{% else %}{{ blogpage.intro|truncatechars_html:250|richtext }}{% endif %}</div>
              <div class="separator-line bg-black no-margin-lr"></div>
              <!-- <div><a href="#" class="blog-like"><i class="fa fa-heart-o"></i>Likes</a><a href="#" class="blog-share"><i class="fa fa-share-alt"></i>Share</a><a href="#" class="comment"><i class="fa fa-comment-o"></i>3 comment(s)</a></div> -->
            </div>
          </div>
          {% endwith %} {% empty %}
          <div class="title-large text-center margin-eight">No pages found in this section.</div>
          {% endfor %}
        </div>
      </div>
    </section>

    {% if blogpages.paginator.num_pages > 1 %}
    <section class="no-padding-top padding-six-bottom">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp ">
                  <div class="pagination">
                      {% if blogpages.has_previous %}
                      <a href="?page={{ blogpages.previous_page_number }}"><img src="{% static 'images/arrow-pre-small.png' %}" alt=""/></a>
                      {% endif %}
                      {% for page_num in blogpages.paginator.page_range %}
                      <a href="?page={{ page_num }}" {% if page_num == blogpages.number %}class="active"{% endif %}>{{ page_num }}</a>
                      {% endfor %}
                      {% if blogpages.has_next %}
                      <a href="?page={{ blogpages.next_page_number }}"><img src="{% static 'images/arrow-next-small.png' %}" alt=""/></a>
                      {% endif %}
                  </div>
              </div>
          </div>
      </section>
      {% endif %}


{% endblock %}
