Django==2.1
wagtail==2.3
django-redis==4.8.0
django-toolbelt==0.0.1
git+https://github.com/cerny-jan/django-storages
dj-database-url==0.4.2
whitenoise==3.3.1
postgres==2.2.1
google-cloud-storage==1.7.0
django-compressor==2.2
django-debug-toolbar==1.9.1
wagtailfontawesome==1.1.3
