{% load static navigation_tags wagtailcore_tags wagtailsettings_tags  %}
<footer>
    <div class=" bg-white footer-top">
    </div>
    <div class="container footer-middle no-padding-top">
        <!-- <div class="row">
            <div class="col-md-3 col-sm-3 footer-link1 xs-display-none">
                <h5>About Us</h5>
                <p class="footer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 footer-link2 col-md-offset-3">
                <h5>Company</h5>
                <ul>
                    <li><a href="about-us.html">About Company</a></li>
                    <li><a href="about-us.html">What We Do</a></li>
                    <li><a href="about-us.html">What We Think</a></li>
                    <li><a href="careers.html">Careers</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  footer-link3">
                <h5>Services</h5>
                <ul>
                    <li><a href="services.html">Web Development</a></li>
                    <li><a href="services.html">Graphic Design</a></li>
                    <li><a href="services.html">Copywriting</a></li>
                    <li><a href="services.html">Online Marketing</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  footer-link4">
                <h5>Introduction</h5>
                <ul>
                    <li><a href="team-members.html">Team Members</a></li>
                    <li><a href="testimonials.html">Testimonials</a></li>
                    <li><a href="our-clients.html">Our Clients</a></li>
                    <li><a href="careers.html">Careers With Us</a></li>
                </ul>
            </div>
        </div> -->
        <!-- <div class="wide-separator-line bg-mid-gray no-margin-lr margin-three no-margin-bottom"></div> -->
        <div class="row margin-four no-margin-bottom">
            <div class="col-md-6 col-sm-12 sm-text-center sm-margin-bottom-four">
                  <ul class="list-inline footer-link text-uppercase">
                    {% menu calling_page=self as menu %}
                    {% for item in menu.menuitems %}
                    <li><a href="{% pageurl item %}">{{ item.title }}</a> </li>
                    {% endfor %}
                  </ul>
            </div>
            <div class="col-md-6 col-sm-12 footer-social text-right sm-text-center">
                <!-- <a target="_blank" rel="noopener" href="https://facebook.com/{{settings.base.SocialMediaSettings.facebook}}"><i class="fa fa-facebook"></i></a> -->
                <!-- <a target="_blank" rel="noopener" href="https://twitter.com/{{settings.base.SocialMediaSettings.twitter}}"><i class="fa fa-twitter"></i></a> -->
                <!-- <a  href="mailto:{{settings.base.SocialMediaSettings.email}}"><i class="fa fa-envelope"></i></a> -->
                <a  href="mailto:{{settings.base.SocialMediaSettings.email}}">{{settings.base.SocialMediaSettings.email}}</a>
                <!-- <a target="_blank" rel="noopener" href="https://www.instagram.com/{{settings.base.SocialMediaSettings.instagram}}"><i class="fa fa-instagram "></i></a> -->
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark-gray footer-bottom">
        <div class="container">
            <div class="row margin-three">
                <div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
                    {% autoescape off %}
                    {% get_footer_text as footer %} {{ footer.footer_text}}
                    {% endautoescape %}
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center xs-display-none">
                    <!-- <a href="/"><img src="{% static 'images/logo-light-gray.png' %}" alt=""/></a> -->
                    <a class= "logo-text-grey" href="/">Zpátky doma</a>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
</footer>
