{% load static navigation_tags wagtailcore_tags wagtailsettings_tags  %}
<footer>
    <div class=" bg-white footer-top">
    </div>
    <div class="container footer-middle no-padding-top">
        <div class="row margin-four no-margin-bottom">
            <div class="col-md-6 col-sm-12 sm-text-center sm-margin-bottom-four">
                  <ul class="list-inline footer-link text-uppercase">
                    {% menu calling_page=self as menu %}
                    {% for item in menu.menuitems %}
                    <li><a href="{% pageurl item %}">{{ item.title }}</a> </li>
                    {% endfor %}
                  </ul>
            </div>
            <div class="col-md-6 col-sm-12 footer-social text-right sm-text-center">
                <a target="_blank" rel="noopener" href="https://www.facebook.com/{{settings.base.SocialMediaSettings.facebook}}"><i class="fa fa-facebook"></i></a>
                <!-- <a target="_blank" rel="noopener" href="https://twitter.com/{{settings.base.SocialMediaSettings.twitter}}"><i class="fa fa-twitter"></i></a> -->
                <a  href="mailto:{{settings.base.SocialMediaSettings.email}}"><i class="fa fa-envelope"></i></a>
                <a target="_blank" rel="noopener" href="https://www.instagram.com/{{settings.base.SocialMediaSettings.instagram}}"><i class="fa fa-instagram "></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark-gray footer-bottom">
        <div class="container">
            <div class="row margin-three">
                <div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
                    {% autoescape off %}
                    {% get_footer_text as footer %} {{ footer.footer_text}}
                    {% endautoescape %}
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center xs-display-none">
                    <!-- <a href="/"><img src="{% static 'images/logo-light-gray.png' %}" alt=""/></a> -->
                    <a class= "logo-text-grey" href="/">Zpátky doma</a>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
</footer>
