{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_meta_tags %}
        {% image page.promo_page.specific.image fill-1200x840 as promo_page %}
        <meta property="og:url" content="{{page.get_site.root_url}}" />
        <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
        <meta property="og:description" content="{{page.search_description}}" />
        <meta property="og:image" content="{{page.get_site.root_url}}{{promo_page.url}}" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="cs_CZ" />
        <meta property="og:site_name" content="{{page.get_site.site_name}}" />
        <meta property="fb:app_id" content="{{settings.base.SocialMediaSettings.facebook_app_id}}" />
        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "url": "{{page.get_site.root_url}}",
          "name": "{{page.get_site.site_name}}",
          "headline": "{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}",
          "inLanguage": "cs_CZ",
          "author": {
            "@type": "Organization",
            "name": "{{page.get_site.site_name}}",
            "url": "{{page.get_site.root_url}}",
            "sameAs": [
              "{{settings.base.SocialMediaSettings.facebook}}",
              "https://twitter.com/{{settings.base.SocialMediaSettings.twitter|default:'add_your_twitter_username'}}",
              "https://www.instagram.com/{{settings.base.SocialMediaSettings.instagram|default:'add_your_instagram_username'}}"
            ]
          },
          "description": "{{page.search_description}}",
          "publisher": "{{page.get_site.site_name}}"
        }
        </script>
{% endblock %}

{% block additional_datalayer %}
      <script>
        dataLayer.push({
          'title':'{{page.title}}',
          'contentType':'{{page.get_verbose_name}}'
        })
      </script>
{% endblock %}

{% block content %}

{% include "includes/navigation.html" with nav_kind="bg-gray static-sticky" calling_page=self %}

    <section class="bg-gray no-padding below-header">
        <div class="container">
            <div class="row">
                <div class="col-md-8 wow fadeInUp" data-wow-duration="300ms">
                  {% if page.promo_page %}
                    {% with promo_page=page.promo_page.specific %}
                              <div class="blog-slider-grid">
                                  <figure>
                                      <a href="{% pageurl promo_page %}">
                                        {% if promo_page.image %}
                                        {% image promo_page.image fill-1200x840 as thumbnail %}
                                        {% image promo_page.image fill-30x21 as thumbnail_mini %}
                                        <img class="lazyload" src="{{thumbnail_mini.url}}" data-src="{{ thumbnail.url }}" alt="{{ thumbnail.alt }}" width="1200" height="840"/>
                                        {% else %}
                                        <img src="http://placehold.it/1200x840" alt=""/>
                                        {% endif %}
                                      </a>
                                      <figcaption>
                                          <h3><a href="{% pageurl promo_page %}">{{ promo_page.title }}</a></h3>
                                          <span>Posted at  {{ promo_page.date_published }}</span>
                                      </figcaption>
                                  </figure>
                              </div>
                      {% endwith %}
                    {% endif %}
                </div>

                <div class="col-md-4">
                    <div class="row">
                      {% for blogpage in blogpages|slice:":2"%}
                        {% with blogpage=blogpage.specific %}
                        <div class="blog-slider-right col-md-12 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="600ms">
                            <div class="blog-slider-grid">
                                <figure>
                                    <a href="{% pageurl blogpage %}">
                                      {% if blogpage.image %}
                                      {% image blogpage.image fill-1200x828 as thumbnail %}
                                      {% image blogpage.image fill-30x21 as thumbnail_mini %}
                                      <img class="lazyload" src="{{thumbnail_mini.url}}" data-src="{{ thumbnail.url }}" alt="{{ thumbnail.alt }}" width="1200" height="828"/>
                                      {% else %}
                                      <img src="http://placehold.it/1200x828" alt=""/>
                                      {% endif %}
                                    </a>
                                    <figcaption >
                                        <h3><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></h3>
                                        <span>Posted at {{ blogpage.date_published }} </a></span>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        {% endwith %}
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray no-padding-top">
        <div class="container" >
            <div class="row blog-grid-listing">
              {% for blogpage in blogpages|slice:"2:"%}
                {% with blogpage=blogpage.specific %}
              <div class="col-md-4 col-sm-6 col-xs-6 blog-listing wow fadeInUp" data-wow-duration="300ms">
                  <div class="blog-image"><a href="{% pageurl blogpage %}">
                    {% if blogpage.image %}
                    {% image blogpage.image fill-599x449 as thumbnail %}
                    {% image blogpage.image fill-30x22 as thumbnail_mini %}
                    <img class="lazyload" src="{{thumbnail_mini.url}}" data-src="{{ thumbnail.url }}" alt="{{ thumbnail.alt }}" width="599" height="449"/>
                    {% else %}
                    <img src="http://placehold.it/599x449" alt=""/>
                    {% endif %}
                  </a></div>
                  <div class="blog-details" >
                      <div class="blog-date">Posted at {{ blogpage.date_published }}</div>
                      <div class="blog-title"><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></div>
                      <div class="blog-short-description height-100">{{ blogpage.intro|truncatechars_html:250|richtext }}</div>
                      <div class="separator-line bg-black no-margin-lr"></div>
                      <!-- <div><a href="#" class="blog-like"><i class="fa fa-heart-o"></i>Likes</a><a href="#" class="blog-share"><i class="fa fa-share-alt"></i>Share</a><a href="#" class="comment"><i class="fa fa-comment-o"></i>3 comment(s)</a></div> -->
                  </div>
              </div>
              {% endwith %}
            {% endfor %}
            </div>
      </section>
      <section class="bg-gray no-padding-top padding-six-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp">
                    <div class="pagination">
                        {% if blogpages.has_previous %}
                        <a href="?page={{ blogpages.previous_page_number }}"><img src="{% static 'images/arrow-pre-small.png' %}" alt=""/></a>
                        {% endif %}
                        {% for page_num in blogpages.paginator.page_range %}
                        <a href="?page={{ page_num }}" {% if page_num == blogpages.number %}class="active"{% endif %}>{{ page_num }}</a>
                        {% endfor %}
                        {% if blogpages.has_next %}
                        <a href="?page={{ blogpages.next_page_number }}"><img src="{% static 'images/arrow-next-small.png' %}" alt=""/></a>
                        {% endif %}
                    </div>
                </div>
              </div>
    </section>

{% endblock %}
