{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block additional_datalayer %}
      <script>
        dataLayer.push({
          'title':'{{page.title}}',
          'contentType':'{{page.get_verbose_name}}'
        })
      </script>
{% endblock %}

{% block content %}

{% include "includes/navigation.html" with nav_kind="bg-white nav-border-bottom" %}

  <section class="content-top-margin page-title page-title{% if not page.sub_title %}-small{% endif %} bg-gray">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                  <h1 class="black-text">{{page.title}}</h1>
                  {%if page.sub_title %}<span class="xs-display-none">{{page.sub_title}}</span>
                  <div class="separator-line margin-three bg-black no-margin-lr sm-margin-top-three sm-margin-bottom-three no-margin-bottom xs-display-none"></div>
                  {% endif %}
              </div>
          </div>
      </div>
  </section>

    <!-- content section -->
    <section class="wow fadeIn">
        <div class="container">
              {{self.body}}
        </div>
    </section>
    <!-- end content section -->


{% endblock %}
