{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}


{% block extra_meta_tags %}
        <meta property="og:url" content="{{page.full_url}}" />
        <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
        <meta property="og:description" content="{{page.search_description}}" />
        <meta property="og:image" content="" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="cs_CZ" />
        <meta property="og:site_name" content="{{page.get_site.site_name}}" />
        <meta property="fb:app_id" content="{{settings.base.SocialMediaSettings.facebook_app_id}}" />
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "@id": "{{page.full_url}}",
            "name": "{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}",
            "inLanguage": "cs_CZ",
            "mainEntityOfPage": {
              "@type": "WebSite",
              "@id": "{{page.get_site.root_url}}",
              "name": "{{page.get_site.site_name}}",
            }
          }
        </script>
{% endblock %}

{% block additional_datalayer %}
      <script>
        dataLayer.push({
          'title':'{{page.title}}',
          'contentType':'{{page.get_verbose_name}}'
        })
      </script>
{% endblock %}

{% block content %}

{% include "includes/navigation.html" with nav_kind="bg-white nav-border-bottom" %}

  <section class="content-top-margin page-title page-title{% if not page.sub_title %}-small{% endif %} bg-gray">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                  <h1 class="black-text">{{page.title}}</h1>
                  {%if page.sub_title %}<span class="xs-display-none">{{page.sub_title}}</span>
                  <div class="separator-line margin-three bg-black no-margin-lr sm-margin-top-three sm-margin-bottom-three no-margin-bottom xs-display-none"></div>
                  {% endif %}
              </div>
          </div>
      </div>
  </section>

    <!-- content section -->
    <section class="wow fadeIn standard-page padding-four no-padding-bottom">
        <div class="container">
              {{self.body}}
        </div>
    </section>
    <!-- end content section -->


{% endblock %}
