{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}


{% block additional_datalayer %}
      <script>
        dataLayer.push({
          'title':'{{page.title}}',
          'contentType':'{{page.get_verbose_name}}',
          'event':'404'
        })
      </script>
{% endblock %}


{% block content %}

{% include "includes/navigation.html" with nav_kind="bg-white nav-border-bottom" %}

<section class="content-top-margin no-padding-bottom border-top wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-8 col-xs-11 text-center center-col">
                <p class="not-found-title black-text">404!</p>
                <p class="text-med text-uppercase letter-spacing-2">The page you were looking<br> for could not be found.</p>
                <a class="highlight-button-dark btn btn-small no-margin-right" href="/">Go to home page</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-8 col-xs-11 center-col">
                <!-- <img src="images/404.jpg" alt=""/> -->
            </div>
        </div>
    </div>
</section>

{% endblock %}
